Delmar/force-app/main/default/flows/DEL_CaseCommentNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get the merge field values through apex class.</description>
        <name>Get_Template_Values</name>
        <label>Get Template Values</label>
        <locationX>417</locationX>
        <locationY>1140</locationY>
        <actionName>DEL_FlowHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_email_alert_to_users</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>list_CaseComments</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>HtmlValueOfBody</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send emails to users when a comment is added to a case.</description>
        <name>Send_email_alert_to_users</name>
        <label>Send email alert to users</label>
        <locationX>419</locationX>
        <locationY>1330</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>HtmlValueOfBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emaillist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Setup.DEL_EmailAlertConfiguration__c.OrgWideAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Comment has been posted on the case : {!get_case.Subject}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assign the email of Case Owner(Agent), Creator(Customer), Case Comment Record Creator.</description>
        <name>Assign_Case_Owner_And_Creator_Email</name>
        <label>Assign Case Owner And Creator Email</label>
        <locationX>430</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>emaillist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_case.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emaillist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_case.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emaillist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedByEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emaillist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_case.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the email of all the Users(Case Collaborators).</description>
        <name>Assign_User_Email</name>
        <label>Assign User Email</label>
        <locationX>611</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>emaillist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Case_Collaborators</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the fields are null so that those fields can be updated accordingly.</description>
        <name>Check_if_fields_are_null</name>
        <label>Check if fields are null</label>
        <locationX>406</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Collaborators</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_fields_are_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedByEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CommentCreatedName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Comment_Fields</targetReference>
            </connector>
            <label>If fields are null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DEL_CaseCommentNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEL_CaseCommentNotification</label>
    <loops>
        <description>Loop all the Case Collaborators so that we can fetch the user detail(email) of all the Collaborators of that Case.</description>
        <name>Loop_Case_Collaborators</name>
        <label>Loop Case Collaborators</label>
        <locationX>420</locationX>
        <locationY>823</locationY>
        <collectionReference>Get_Case_Collaborators</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Case_Owner_And_Creator_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the case related to case comment record.</description>
        <name>get_case</name>
        <label>Get case</label>
        <locationX>412</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_fields_are_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the case collaborators related to respective case.</description>
        <name>Get_Case_Collaborators</name>
        <label>Get Case Collaborators</label>
        <locationX>420</locationX>
        <locationY>685</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Case_Collaborators</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DEL_CaseCollaborator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the all the Users from the Case Collaborator.</description>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>768</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Case_Collaborators.User__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Based on the decision following fields are updated.</description>
        <name>Update_Case_Comment_Fields</name>
        <label>Update Case Comment Fields</label>
        <locationX>605</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Get_Case_Collaborators</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentCreatedName__c</field>
            <value>
                <stringValue>{!$Record.CreatedBy.FirstName}  {!$Record.CreatedBy.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedByEmail__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>284</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>get_case</targetReference>
        </connector>
        <object>DEL_CaseComment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseCollaborators</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseCollaboratorsoftheCase</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emaillist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getcasecomment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HtmlValueOfBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
