Delmar/force-app/main/default/flows/DEL_CaseCollaborationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Here we are setting up the notification. Goes on invite.</description>
        <name>CustomNotificationForInvite</name>
        <label>CustomNotificationForInvite</label>
        <locationX>446</locationX>
        <locationY>1151</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You have received an Collaboration Invite on this Case &quot;{!Get_Case.CaseNumber}&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Collaboration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>alluser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EnglishAction</name>
        <label>EnglishAction</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>DEL_CaseCollaborator__c.DEL_CaseCollab</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Custom_Notification_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FrenchEmailAction</name>
        <label>FrenchEmailAction</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>DEL_CaseCollaborator__c.DEL_CaseCollabFrench</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Custom_Notification_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SpanishEmailAction</name>
        <label>SpanishEmailAction</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>DEL_CaseCollaborator__c.DEL_CaseCollabSpanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Custom_Notification_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assigning all the UserIds of the User and storing in the variable. For send email alerts and custom notifications</description>
        <name>AssigningUser</name>
        <label>Assigning User</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>alluser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PreferredLanguagesEmailAlerts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>PreferredLanguagesEmailAlerts</name>
        <label>PreferredLanguagesEmailAlerts</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Get_Custom_Notification_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Details.Contact.DEL_PrefferedLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FrenchEmailAction</targetReference>
            </connector>
            <label>French</label>
        </rules>
        <rules>
            <name>Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Details.Contact.DEL_PrefferedLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SpanishEmailAction</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
        <rules>
            <name>English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Details.Contact.DEL_PrefferedLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnglishAction</targetReference>
            </connector>
            <label>English</label>
        </rules>
    </decisions>
    <description>Send custom notifications and email alerts to collaborators</description>
    <formulas>
        <name>casenotilink</name>
        <dataType>String</dataType>
        <expression>&quot;https://absyz-2b-dev-ed.lightning.force.com/&quot;+{!Get_Case.Id}</expression>
    </formulas>
    <interviewLabel>CaseCollabFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEL_CaseCollaborationFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This step is for getting all the CaseIds</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This step is to send the custom notifications to the collaborators</description>
        <name>Get_Custom_Notification_ID</name>
        <label>Get Custom Notification ID</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomNotificationForInvite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEL_CaseCollaborationNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This step where we get all the User details and Ids</description>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssigningUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <object>DEL_CaseCollaborator__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>noti</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$User.Id} resource&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notificationbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;You have received an Collaboration Invite on this Case : {!Get_Case.Subject}
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>alluser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>prefferedLanguageVariable</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
